/* Piilottaa koko headerin, jossa lukee "View the Project on GitHub" */
header {
  display: none !important;
}

/* Pinkki viiva sivun yläreunaan */
body {
  border-top: 3px solid hotpink !important;
}

/* Poistaa harmaat viivat otsikoiden ympäriltä */
section {
  border-top: 3px solid hotpink !important;
  border-bottom: 3px solid hotpink !important;
}

.bottom-image-strip {
  width: 100%;
  height: 150px;
  background-image: url("../../kuva11.jpg");
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  opacity: 0.18;
}
