/* Yläreunan viiva */
header {
  border-top: 3px solid hotpink !important;
}

/* Poistaa harmaat viivat otsikon ympäriltä */
section {
  border-top: 3px solid hotpink !important;
  border-bottom: 3px solid hotpink !important;
}

/* Piilottaa otsikon kokonaan */
header h1 {
  display: none !important;
}
